In [80]:
import pandas as pd

In [81]:
df1 = pd.read_csv('./../data/Analogy_dataset.txt', names=['1','2','3','4'], sep=' ')
df2 = pd.read_csv('./../data/Validation.txt', names=['1','2','3','4'], sep=' ')
df3 = pd.read_csv('addition.csv')
df3.columns = ['1','2','3','4']
df = df1.append(df2, ignore_index=True)

/var/folders/m5/wq5632qs3f3d1sqh_34wtzw00000gn/T/ipykernel_33899/2625965057.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2, ignore_index=True)

In [82]:
df = df.append(df3, ignore_index=True)

/var/folders/m5/wq5632qs3f3d1sqh_34wtzw00000gn/T/ipykernel_33899/2458899012.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df3, ignore_index=True)

In [83]:
df2 = df[['3','4']].rename(columns={'3':'1', '4':'2'})
df = pd.concat([df[['1','2']],df2], ignore_index=True)
df = df.drop_duplicates().reset_index(drop=True)

In [84]:
df['sentences'] = df[['1','2']].apply(lambda x : x['1'] + ' is ' + x['2'], axis=1)
df = df[['sentences']]

In [85]:
df.to_csv("trainset.csv",index=False)

In [86]:
df

               sentences
0       Athens is Greece
1    Bangkok is Thailand
2       Beijing is China
3      Berlin is Germany
4         Cairo is Egypt
..                   ...
420         iran is rial
421        usa is dollar
422     nigeria is naira
423         japan is yen
424     denmark is krone

[425 rows x 1 columns]

In [77]:
df4 = pd.read_csv('trainset.csv')

In [78]:
df4.shape

(418, 1)